body {
  font-family: sans-serif;
  background-color: #151515;
  color: #ffffff;
  padding: 20px;
  margin: 0;
}

#app {
  max-width: 500px;
  margin: auto;
}

h1 {
  color: #00f5a0;
  font-size: 24px;
  margin-bottom: 10px;
}

p, h3 {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background: #00f5a0;
  border: none;
  border-radius: 8px;
  color: #000;
  cursor: pointer;
}

button:hover {
  background: #00c288;
}

.hidden {
  display: none;
}
